@model Vinay.Time.Web.Models.WeeklyTimeRegistrationViewModel

@{
    ViewBag.Title = "Time registration week.";
}

<h2>Time registration</h2>


<div class="form-horizontal">
    @Html.Partial("_EmployeeWeekSelection", Model.EmployeeWeekSelectionVM)
</div>

<div data-container="work-item-search">
    @Html.Partial("_WorkItemSearchTool", Model.WorkItemSearchToolVM)
</div>
<div data-container="registration-grid">
    @Html.Partial("_TimeRegistrationGrid", Model.TimeRegistrations)
</div>

@section Scripts{

}