@model Vinay.Time.Web.Models.EmployeeWeekSelectionViewModel

@{
    ViewBag.Title = "Time registration week.";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-group">
    @Html.LabelFor(model => model.Employees, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Employees, new SelectList(Model.Employees))
        @Html.ValidationMessageFor(model => model.Employees)
    </div>
</div>


